@inherits LayoutComponentBase

<nav>
    <ul>
        <li><NavLink href="/">Home</NavLink></li>
        <li><NavLink href="count">Counter</NavLink></li>
        <li><NavLink href="todo">To Do List</NavLink></li>
        <li><NavLink href="kanban2">Kanban</NavLink></li>
    </ul>
    <hr>
</nav>

<main>
    @Body
</main>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
