@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg bg-light border-bottom mb-4">
    <ul class="nav">
        @foreach (var entry in pages)
        {
            <li class="nav-item">
                <NavLink class="nav-link" href="@entry.Key" Match="NavLinkMatch.All">@entry.Value</NavLink>
            </li>
        }
    </ul>
</nav>

<main>
    @Body
</main>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    Dictionary<string, string> pages = new Dictionary<string, string> 
    { 
        { "dashboard", "Home" },
        { "createform", "Form" },
        { "graph", "Burndown" },
        { "hist", "Histogram" }
    };
}