@inherits LayoutComponentBase

<nav class="navbar">
    <a href="/">Home</a>
    <a href="count">Counter</a>
    <a href="todo">To Do List</a>
    <a href="kanban2">Kanban</a>
    <a href="form">Form</a>
</nav>

<main>
    @Body
</main>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
