@page "/count"
@rendermode InteractiveServer

<h3>Counter</h3>

<p> @count </p>

<button @onclick="Increment"> Add One</button>

@code {
	public int count = 0;
	[Parameter]
	public int incrementCount { get; set; } = 1;

	public void Increment()
	{
		count += incrementCount;
	}
}
