@page "/createform"
@rendermode InteractiveServer
@using Data
@inject KanbanService KanbanSvc
@using BlazorAppEmpty.Components.Layout
@layout MainLayout
@using BlazorAppEmpty.Services
@inject KanbanColumnService KanbanColSvc

<div class="form-container">
	<form>
		<h1>Create Column</h1>
		<label for="Title">Title</label>
		<input id="Title" type="text" @bind="newTitle" />
@* 		<label for="Colour">Colour</label>
		<input id="Colour"type="color" @bind="color" /> *@
		<button @onclick="AddColumn">Add Column</button>
	</form>
</div>


@code {
	public string newTitle;
	public string color = "#f4f4f4";

	public void AddColumn()
	{
		KanbanColSvc.AddColumn(new KColumnModelDB(newTitle));
		newTitle = "";
		color = "#f4f4f4";
	}
}
