@page "/createform"
@rendermode InteractiveServer
@using Data
@inject KanbanService KanbanSvc
@using BlazorAppEmpty.Components.Layout
@layout MainLayout

<div class="form-container">
	<form>
		<h1>Create Column</h1>
		<label for="Title">Title</label>
		<input id="Title" type="text" @bind="newTitle" />
		<label for="Colour">Colour</label>
		<input id="Colour"type="color" @bind="color" />
		<button @onclick="AddColumn">Add todo</button>
	</form>
</div>


@code {
	public string newTitle;
	public string color = "#f4f4f4";

	public void AddColumn()
	{
		KanbanSvc.kanbanColumns.Add(new KanbanColumnModel(newTitle, color));
		newTitle = "";
		color = "#f4f4f4";
	}
}
