@page "/dashboard"
@layout MainLayout
@using KanbanApp.Components.Layout
@rendermode @(new InteractiveServerRenderMode(false))
@attribute [StreamRendering]
@inject UserService US
@inject KanbanColumnService KColumnS

<h2 class="user-header">Vítejte uživateli @User.Name!</h2>
@if (Columns is null)
{
	<p>Loading...</p>
}
else
{
	<div class="kanban-board">
		@foreach (KanbanColumnModel column in Columns)
		{
			<KanbanColumn Column="column"></KanbanColumn>
		}
	</div>
}
@code {

	public UserModel User { get; set; }
	public List<KanbanColumnModel>? Columns { get; set; }

	protected override async Task OnInitializedAsync()
	{
		//await Task.Delay(500);
		Columns = await KColumnS.GetColumnsAsync();
		User = US.GetUser();
	}
}
