@page "/editform/{id:int}"
@using Data;
@using BlazorAppEmpty.Models
@using BlazorAppEmpty.Components.Layout
@inject KanbanService KanbanSvc
@inject NavigationManager NavMan
@rendermode InteractiveServer
@layout MainLayout
@using BlazorAppEmpty.Services
@inject UserService US

@if (Column != null)
{
	<div class="form-container">
		<h1>Add Card</h1>
		<form>
			<label for="Title">Title</label>
			<input id="Title" type="text" @bind="newTitle"/>
			<label for="Description">Description</label>
			<input id="Description" type="text" @bind="newDescription"/>
			<input type="date" @bind="newDeadline"/>
			<button @onclick="AddItem">Add Item</button>
		</form>
	</div>

	<div class="form-container">
		<h1>Edit Column</h1>
		<form>
			<label for"Title">Title</label>
			<input id="Title" type="text" @bind="Column.Title" />
			<label for"Color">Colour</label>
			<input id="Color" type="color" @bind="Column.BoxColor"/>
		</form>
	</div>
	<div class="form-container">
		<h1>Delete Column</h1>
		<button class="button-red" @onclick="DeleteColumn">DELETE</button>
	</div>
}
else
{
	<p>nothing here</p>
}


@code {
	[Parameter]
	public int Id { get; set; }
	public KanbanColumnModel? Column { get; set; }
	private string? newTitle;
	private string? newDescription;
	private DateOnly? newDeadline;
	public User? user;

	protected override void OnInitialized()
	{
		Column = KanbanSvc.kanbanColumns.Find(x => x.Id == Id);
		user = US.GetUser();
	}

	private void AddItem()
	{
		Column.Cards.Add(new KanbanCardModel() {Title = newTitle, Description = newDescription, Deadline = newDeadline, User = user });
		newTitle = "";
		newDescription = "";
	}

	private void DeleteColumn()
	{
		KanbanSvc.kanbanColumns.Remove(Column);
		NavMan.NavigateTo($"/");
	}
}
