@page "/form"
@rendermode InteractiveServer
@using Data
@inject KanbanService KanbanSvc

<div class="form-container">
	<form>
		<h1>Form</h1>
		<label for="Title">Title</label>
		<input id="Title" type="text" @bind="newTodo" />
		<label for="Colour">Colour</label>
		<input id="Colour"type="color" @bind="color" />
		<button @onclick="AddTodo">Add todo</button>
	</form>
</div>



@code {
	public string newTodo;
	public string color = "#f4f4f4";

	public void AddTodo()
	{
		KanbanSvc.AddKanbanColumn(new KanbanBox(newTodo, color));
		newTodo = "";
		color = "#f4f4f4";
	}
}
