@page "/graph"
@layout Layout.MainLayout
@using Services
@inject KanbanCardService KCS


<div class="container">
	<LineChart @ref="lineChart" Width="1000"/>
</div>

<KanbanCard Card="card" originId="1" />

@code 
{
	private LineChart lineChart = default!;
	private LineChartOptions lineChartOptions = default!;
	private ChartData chartData = default!;

	private KCardModelDB card;

	protected override void OnInitialized()
	{
		card = KCS.GetCardModel(1);


		int totalStoryPoints = 100;
		int days = 7;
		float ratio = (float)totalStoryPoints / (days - 1);

		List<double> idealData = new List<double>();

		float points = totalStoryPoints;
		for(int i = 0; i < days; i++)
		{
			idealData.Add(points);
			points -= ratio;
		}



		var colors = ColorUtility.CategoricalTwelveColors;

		var labels = new List<string> { "1", "2", "3", "4", "5", "6", "7" };
		var datasets = new List<IChartDataset>();

		var dataset1 = new LineChartDataset
		{
			Label = "Real Pogress",
			Data = new List<double> { 100, 78, 72, 65, 21, 8, 0 },
			BackgroundColor = new List<string> { colors[0] },
			BorderColor = new List<string> { colors[0]},
			BorderWidth = new List<double> { 4 },
			HoverBorderWidth = new List<double> { 1 },
			PointBackgroundColor = new List<string> { colors[0]},
			PointRadius = new List<int> { 0 },
			PointHoverRadius = new List<int> { 4 },
		};

		var dataset2 = new LineChartDataset
			{
			Label = "Ideal Pogress",
			Data = idealData,
			BackgroundColor = new List<string> { colors[1] },
			BorderColor = new List<string> { colors[1] },
			BorderWidth = new List<double> { 4 },
			HoverBorderWidth = new List<double> { 1 },
			PointBackgroundColor = new List<string> { colors[1] },
			PointRadius = new List<int> { 0 },
			PointHoverRadius = new List<int> { 4 },
		};
		datasets.Add(dataset1);
		datasets.Add(dataset2);

		chartData = new ChartData { Labels = labels, Datasets = datasets };

		lineChartOptions = new();
		lineChartOptions.Responsive = true;
		lineChartOptions.Interaction = new Interaction { Mode = InteractionMode.Index };

		lineChartOptions.Scales.X!.Title = new ChartAxesTitle { Text = "Days", Display = true };
		lineChartOptions.Scales.Y!.Title = new ChartAxesTitle { Text = "Story Points", Display = true };

		lineChartOptions.Plugins.Title!.Text = "Burndown";
		lineChartOptions.Plugins.Title.Display = true;

	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await lineChart.InitializeAsync(chartData, lineChartOptions);
		}
		await base.OnAfterRenderAsync(firstRender);
	}
}
