@page "/"
@using KanbanApp.Services
@using KanbanApp.Models
@inject UserService US
@inject NavigationManager Navman

<div class="form-login">
    <h3 class="login-header">Log In</h3>
<EditForm Model="@user" OnValidSubmit="UExists" FormName="LoginForm">
    <DataAnnotationsValidator/>
    <InputText @bind-Value="user.Name" id="name" placeholder="Name" />
    <ValidationMessage For="() => user.Name" />
    <br />
    <InputText @bind-Value="user.Password" id="password" placeholder="Password" />
    <ValidationMessage For="() => user.Password" />
    <br />
    <button type="submit" class="login-btn">Log In</button>
</EditForm>
</div>
<p>Pokud ještě nemáte účet, zaregistrujte se <a href="/Register">zde</a></p>

<h4 style="color: red;">@ErrorMsg</h4>

@code {
    [SupplyParameterFromForm]
    public UserModel? user { get; set; }

    public string ErrorMsg { get; set; }

    //zajištění, že user je inicializován před použitím
    protected override void OnInitialized()
    {
        user ??= new();
    }

    private async Task UExists()
    {
        bool exists = await US.UserExists(user);
        if (exists)
        {
            Navman.NavigateTo("/dashboard");
        }
        else
        {
            ErrorMsg = "Nemáte účet, nebo zadáváte špatné heslo";
        }
    }
}