@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<NavLink href="todo"> test </NavLink>
<NavLink href="/kanban2"> Kanban </NavLink>

<DynamicComponent Type="typeof(Counter)"/>

@code {
	Counter asd = new Counter() { incrementCount = 6};
}
