@page "/itemform/{id:int}"
@using Data
@inject KanbanService KanbanSvc

<h3>ItemForm</h3>

@code {
	[Parameter]
	public KanbanItem? kbItem { get; set; }

	protected override void OnInitialized()
	{
		
	}
}
