@page "/view"
@using Data
@rendermode InteractiveServer
@inject NavigationManager naviMan
@inject KanbanService KanbanSvc

<div class="kanban-column" style="background-color: @kanbanBox.BoxColor">
	<h2>@kanbanBox.Title</h2>
		@foreach (var item in kanbanBox.kanbanItems)
		{
			<KanbanItemView item="item"/>
		}
		<button class="circular-button" @onclick="GoToForm">Edit</button>
</div>

@code {
	[Parameter]
	public KanbanBox kanbanBox { get; set; }

	private void GoToForm()
	{
		naviMan.NavigateTo($"/boxform/{kanbanBox.Id}");
	}
	private void Delete(KanbanBox kb)
	{
		KanbanSvc.RemoveKanbanBox(kb);
		StateHasChanged();
	}
	[Parameter]
	public EventCallback<KanbanBox> OnDelete { get; set; }

	private async Task DeleteTask()
	{
		await OnDelete.InvokeAsync(kanbanBox);
	}
}
