@using Data
@using BlazorAppEmpty.Models
@rendermode InteractiveServer
@inject NavigationManager NavMan
@inject KanbanService KS

<div class="kanban-column">
	<h2>@Column.Name</h2>
		@foreach (KCardModelDB card in Column.Cards)
		{
			<KanbanCard Card="card" originId="Column.Id"/>
		}
		<button class="circular-button" @onclick="GoToForm">Edit</button>
</div>

@code {
	[Parameter]
	public KColumnModelDB? Column { get; set; }

	private void GoToForm()
	{
		NavMan.NavigateTo($"/editform/{Column.Id}");
	}
}
