@using Data
@using BlazorAppEmpty.Models
@using BlazorAppEmpty.Services
@inject KanbanService kanbanSvc
@inject NavigationManager NavMan
@rendermode InteractiveServer
@inject UserService US
@inject KanbanCardService KCS

<div class="kanban-card" @onclick="RedirectToCardInfo">
	<b>
		@Card.Title
	</b>
	<p>
		@Card.Description
	</p>

	<span class="badge bg-primary"><strong>@Card.User.Name</strong></span>
</div>

@code {
	[Parameter]
	public KCardModelDB? Card { get; set; }

	public User user { get; set; }

	protected override void OnInitialized()
	{
		user = US.GetUser();
	}

	private void RedirectToCardInfo()
	{
		NavMan.NavigateTo($"/cardinfo/{Card.Title}");
	}
}
