@rendermode InteractiveServer
@inject NavigationManager NavMan
@inject KanbanColumnService KColumnS

<div class="kanban-column">
	<h2>@Column.Name</h2>
		@foreach (KanbanCardModel card in Column.Cards)
		{
			<KanbanCard Card="card"/>
		}
		<button class="circular-button" @onclick="GoToForm">Edit</button>
</div>

@code {
    [Parameter]
    public KanbanColumnModel Column { get; set; }

    List<KanbanCardModel> cardsL = new List<KanbanCardModel>();

    protected override Task OnInitializedAsync() => GetListById();

    public async Task GetListById()
    {
		cardsL = await KColumnS.GetCardsByColumnIdAsync(Column.Id);
	}

	private void GoToForm()
	{
		NavMan.NavigateTo($"/editform/{Column.Id}");
	}
}
