@page "/kanban2"
@rendermode InteractiveServer

<h3>Kanban2</h3>

<div style="display: flex">
	@foreach( KanbanBox kb in boxes)
	{
		<KanbanBoxView kanbanBox=kb></KanbanBoxView>
	}
</div>
<input @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>
<br/>
<p>
	<input type="color" @bind="color" />
	@color
</p>

@code {

	public List<KanbanBox> boxes = new();
	public string? newTodo;
	public string? color;

	public void AddTodo()
	{
		boxes.Add(new KanbanBox{ Title = newTodo , BoxColor = color});
		newTodo = "";
	}
}
