@page "/kanban2"
@using Data
@inject KanbanService KanbanSvc
@rendermode @(new InteractiveServerRenderMode(false))
@attribute [StreamRendering]

@if (boxes is null)
{
	<p>Loading...</p>
}
else
{	
	<div class="kanban-board">
		@foreach( KanbanBox kb in boxes)
		{
			<KanbanBoxView kanbanBox=kb OnDelete="@(() => DeleteTask(kb))"></KanbanBoxView>
		}
	</div>
}

@code {

	public List<KanbanBox> boxes { get; set; }

	protected override async Task OnInitializedAsync()
	{
		//await Task.Delay(500);
		boxes = await KanbanSvc.GetKanbanAsync();
	}
	private void DeleteTask(KanbanBox kb)
	{
		KanbanSvc.RemoveKanbanBox(kb);
	}
}
