@page "/register"
@using BlazorAppEmpty.Services
@using BlazorAppEmpty.Models
@inject UserService US

<div class="register-form">
	<h3 class="register-header">Register</h3>
	<EditForm Model=@user OnValidSubmit="AddUser" FormName="RegisterForm">
		<DataAnnotationsValidator/>
		<InputText @bind-Value="user.Name" placeholder="Name" />
		<ValidationMessage For="() => user.Name" />	
		<br />
		<InputText @bind-Value="user.Email" placeholder="E-mail" />
		<ValidationMessage For="() => user.Email" />
		<br />
		<InputText @bind-Value="user.Password" placeholder="Password" type="password"/>
		<ValidationMessage For="() => user.Password" />
		<br />
		<button class="register-btn" type="submit">Register</button>
	</EditForm>
</div>

@code {
	[SupplyParameterFromForm]
	public User? user { get; set; }

	//zajištění, že user je inicializován před použitím
	protected override void OnInitialized()
	{
		user ??= new();
	}

	public async Task AddUser()
	{
		await US.AddNewUser(user);
		user = new User();
	}
}
