@page "/register"
@using BlazorAppEmpty.Services
@inject UserService US
@using BlazorAppEmpty.Models

<h3>Register</h3>
<EditForm Model=@user OnValidSubmit="AddUser" FormName="RegisterForm">
	<InputText @bind-Value="user.Name"/>
	<InputText @bind-Value="user.Email" />
	<InputText @bind-Value="user.Password" />
	<input class="btn btn-primary" type="submit" @onclick="AddUser" >Register</input>
</EditForm>

<h4><a href="/register">Register</a></h4>

@code {
	[SupplyParameterFromForm]
	public User? user { get; set; }

	//zajištění, že user je inicializován před použitím
	protected override void OnInitialized()
	{
		user ??= new();
	}

	public async Task AddUser()
	{
		await US.AddNewUser(user);
		user = new User();
	}
}
