@page "/todo"
@rendermode InteractiveServer

<h3>Todo</h3>
<ul>
@foreach(var todo in todos)
{
    <li>
		<input type="checkbox" @bind="todo.IsDone" />
		<input @bind="@todo.Title" />
	</li>
}
</ul>
<h3>
@todos.Count(x => x.IsDone)
</h3>

<input @bind="newTodo"/>
<button @onclick="AddTodo">Add todo</button>

@if(newTodo == "wow")
{
	<p>you unlocked and easter egg</p>
}

@code {
	private List<TodoItem> todos = new();
	private string? newTodo;

	private void AddTodo()
	{
		if (!string.IsNullOrWhiteSpace(newTodo))
		{
			todos.Add(new TodoItem { Title = newTodo });
			newTodo = string.Empty;
		}
	}
}
